@{
    ViewData["Title"] = "用户管理";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min.css?v=3.3.7" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">

    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/css/demo/webuploader-demo.css">
    <link rel="stylesheet" type="text/css" href="/css/backend_admin.css">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户管理 <small>列表，查找</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="text-left">
                            <a data-toggle="modal" class="btn btn-primary" onclick="add()">新增</a>
                            <a data-toggle="modal" class="btn btn-success" onclick="edit()">编辑</a>
                            <a data-toggle="modal" class="btn btn-danger" onclick="del()">删除</a>
                            <a data-toggle="modal" class="btn btn-primary" onclick="enable()">启用</a>
                            <a data-toggle="modal" class="btn btn-success" onclick="disable()">禁用</a>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="m-t-none m-b">新增用户</h3>
                    <form role="form">
                        <div class="ibox-content">
                            <input type="hidden" id="userId" name="userId" />
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>用户名：</label><label style="color: red;">*</label>
                                    <input type="text" required placeholder="请输入用户名" id="userName" name="userName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>姓名：</label><label style="color: red;">*</label>
                                    <input type="text" required placeholder="请输入姓名" id="realName" name="realName" class="form-control">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>邮箱：</label><label style="color: red;">*</label>
                                    <input type="email" required placeholder="请输入邮箱" id="userEmail" name="userEmail" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>职位：</label>
                                    <input type="text" placeholder="请输入职位" id="userPost" name="userPost" class="form-control">
                                </div>
                            </div>
                            <div class="form-inline" id="passwordPanl">
                                <div class="form-group">
                                    <label>密码：</label><label style="color: red;">*</label>
                                    <input type="password" required placeholder="请输入密码" id="passWord" name="passWord" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>确认密码：</label><label style="color: red;">*</label>
                                    <input type="password" required placeholder="请确认密码" id="repassWord" name="repassWord" class="form-control">
                                </div>
                                <label id="password-error" style="color: red;"></label>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <p>头像图片</p>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="showuserImg">
                                        <img id="showUserHead" src="/img/unperson.jpg" width="110" height="110"/>
                                    </div>
                                    <div id="uploader" class="wu-example">
                                        <div class="queueList">
                                            <div id="dndArea" class="placeholder">
                                                <div id="filePicker"></div>
                                                <p>或将照片拖到这里</p>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display:none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div>
                                            <div class="info"></div>
                                            <div class="btns">
                                                <div id="filePicker2"></div>
                                                <div class="uploadBtn">开始上传</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" style="width: 94px; height: 42px; margin-top: -35px;" type="submit">
                                <strong>保存</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.7"></script>
    <script src="/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/js/content.js?v=1.0.0"></script>
    <script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Web Uploader -->
    <script type="text/javascript">
        // 添加全局站点信息
        var BASE_URL = '/js/plugins/webuploader';
    </script>
    <script src="/js/plugins/webuploader/webuploader.min.js"></script>

    <script src="/js/backend_admin.js"></script>
    <script>
        var datatable=null;
        const password1 = document.getElementById("passWord");
        const password2 = document.getElementById("repassWord");
        const errorElement = document.getElementById("password-error");

        function checkPasswordMatch() {
            if (password1.value !== password2.value) {
                errorElement.textContent = "密码不一致！";
            } else {
                errorElement.textContent = "";
            }
        }

        // 监听输入事件（实时检查）
        password1.addEventListener("input", checkPasswordMatch);
        password2.addEventListener("input", checkPasswordMatch);

        $(document).ready(function () {
            datatable = $('.dataTables-example').DataTable({
                processing: true, // 开启处理状态提示（例如加载中）
                serverSide: true, // 启用服务器端处理
                ajax: {
                    url: "/User/GetUsersByPage", // 你的服务器端接口地址
                    contentType: "application/json",
                    type: "POST", // 请求类型，通常是 GET 或 POST
                    data: function(d) {
                        // 构建请求对象，包含DataTables参数和自定义参数
                        var request = {
                            draw: d.draw,
                            start: d.start,
                            length: d.length,
                            search: d.search,
                            order: d.order
                        };
                        return JSON.stringify(request);  // 手动转换为JSON字符串
                    },
                    dataFilter: function(response) {
                        var json = JSON.parse(response);

                        if (json.ifSuccess !== 1) {
                            console.log(json.msg);
                            return JSON.stringify({draw: 0,recordsTotal: 0,recordsFiltered: 0,data: []});
                        }

                        // 转换为DataTables标准格式
                        return JSON.stringify({
                            draw: json.data.draw,
                            recordsTotal: json.data.recordsTotal,
                            recordsFiltered: json.data.recordsFiltered,
                            data: json.data.data
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        console.log('Status:', status);
                        console.log('Details:', xhr.responseText);
                        if(xhr.status == 401) {
                            window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                    }
                },
                columns: [{
                      sClass: "text-center",
                      data: "id",
                      render: function (data, type, full, meta) {//这里就是要显示的checkbox多选框了
                          return '<input type="checkbox" class="checkchild" value="' + data + '" />';
                      },
                      bSortable: false
                    },
                    { data: "id",title: "ID",name:"Id",bSortable: false},
                    { data: "userName",title: "用户名",name:"UserName",bSortable: false},
                    { data: "realName",title: "姓名",name:"RealName",bSortable: false},
                    { data: "userEmail",title: "邮箱",name:"UserEmail",bSortable: false},
                    {
                        data: "enable",
                        title: "状态",
                        name:"Enable",
                        bSortable: false,
                        render: function(data) {
                            return data?"启用":"禁用";
                        }
                    },
                    {
                        data: "createTime",
                        name:"CreateTime",
                        title: "创建时间",
                        bSortable: false,
                        render: function(data) {
                            return new Date(data).toLocaleString();
                        }
                    }
                ]
            });
        
            $('.dataTables-example').on('dblclick', 'tbody tr', function() {
                var rowData = datatable.row(this).data();
                getDetail(rowData.id);
            });

            $('#modal-form').on('submit', function(event) {
                save();
            });
        });

        function add()
        {
            $('#userName').prop("readonly",false);
            $('#passWord').attr("required","required");
            $('#repassWord').attr("required","required");
            $('#passwordPanl').show();

            $('#userName').val('');
            $('#realName').val('');
            $('#userEmail').val('');
            $('#userPost').val('');
            $('#passWord').val('');
            $('#repassWord').val('');
            $("#userId").val('');
            $('#modal-form').modal('show'); // 显示模态框，并触发 show 事件，从而设置内容。
        }
        function edit()
        {
            var selectedIds = getSelectedIds();
            if(selectedIds.length!=1)
            {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行编辑"
                });
            }
            else
            {
                getDetail(selectedIds[0]);
            }
        }
        function del()
        {
            var selectedIds = getSelectedIds();
            if(!selectedIds.length)
            {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行删除"
                });
            }
            else
            {
                var delIds=selectedIds;
                swal({
                    title: "您确定要删除这"+delIds.length+"条记录吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    event.stopPropagation(); // 阻止事件冒泡
                    event.preventDefault();
                    $.ajax({
                        url:"/User/DelUser",
                        contentType: "application/json",
                        type: "POST", // 请求类型，通常是 GET 或 POST
                        data:JSON.stringify({
                            ids: selectedIds,
                        }),
                        success:function(result){
                            if(result.ifSuccess)
                            {
                                searchRole();
                                swal("删除成功！", "您已经永久删除了这条记录。", "success");
                            }
                            else
                            {
                                swal({
                                    title: "出错了",
                                    text: result.msg
                                });
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            console.log('Status:', status);
                            console.log('Details:', xhr.responseText);
                            if(xhr.status == 401) {
                                window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                            }
                        }
                    });
                });
            }
        }
        function enable()
        {
            var selectedIds = getSelectedIds();
            if(!selectedIds.length)
            {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行启用"
                });
            }
            else
            {
                $.ajax({
                    url:"/User/SetEnableUser",
                    contentType: "application/json",
                    type: "POST", // 请求类型，通常是 GET 或 POST
                    data:JSON.stringify({
                        ids: selectedIds,
                        enable:1
                    }),
                    success:function(result){
                        if(result.ifSuccess)
                        {
                            search();
                            swal("启用成功！", "您已经启用了这条记录。", "success");
                        }
                        else
                        {
                            swal({
                                title: "出错了",
                                text: result.msg
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        console.log('Status:', status);
                        console.log('Details:', xhr.responseText);
                        if(xhr.status == 401) {
                            window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                    }
                });
            }
        }
        function disable()
        {
            var selectedIds = getSelectedIds();
            if(!selectedIds.length)
            {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行禁用"
                });
            }
            else
            {
                $.ajax({
                    url:"/User/SetEnableUser",
                    contentType: "application/json",
                    type: "POST", // 请求类型，通常是 GET 或 POST
                    data:JSON.stringify({
                        ids: selectedIds,
                        enable:0
                    }),
                    success:function(result){
                        if(result.ifSuccess)
                        {
                            search();
                            swal("禁用成功！", "您已经禁用了这条记录。", "success");
                        }
                        else
                        {
                            swal({
                                title: "出错了",
                                text: result.msg
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        console.log('Status:', status);
                        console.log('Details:', xhr.responseText);
                        if(xhr.status == 401) {
                            window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                    }
                });
            }
        }
        function getSelectedIds() {
            var selectedIds = [];
            $('.checkchild:checked').each(function() {
                selectedIds.push($(this).val()); // 获取 data-id 属性值并添加到数组中
            });
            return selectedIds;
        }
        function getDetail(roleId)
        {
            $('#userName').attr("readonly","readonly");
            $('#passwordPanl').hide();
            $('#passWord').prop("required",false);
            $('#repassWord').prop("required",false);
            $.ajax({
                url:"/User/GetUserById",
                contentType: "application/json",
                type: "POST", // 请求类型，通常是 GET 或 POST
                data:JSON.stringify({
                    id:roleId
                }),
                success:function(result){
                    if(result.ifSuccess)
                    {
                        $('#userName').val(result.data.userName);
                        $('#realName').val(result.data.realName);
                        $('#userEmail').val(result.data.userEmail);
                        $('#userPost').val(result.data.userPost);
                        $("#userId").val(result.data.id);
                        $('#modal-form').modal('show'); // 显示模态框，并触发 show 事件，从而设置内容。
                    }
                    else
                    {
                        swal({
                            title: "出错了",
                            text: result.msg
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if(xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                }
            });
        }
        function search()
        {
            datatable.ajax.reload(); // 保持当前分页和排序状态
        }
        function save()
        {
            event.stopPropagation(); // 阻止事件冒泡
            event.preventDefault();
            var password = $('#passWord').val();
            var repassWord = $('#repassWord').val();
            if(password && repassWord && password!=repassWord)
            { 
                swal({
                    title: "密码不一致！",
                    text: result.msg
                });
                return;
            }
            $.ajax({
                url:"/User/SaveUser",
                contentType: "application/json",
                type: "POST", // 请求类型，通常是 GET 或 POST
                data:JSON.stringify({
                    id: $("#userId").val()?$("#userId").val():null,
                    userName:$("#userName").val(),
                    realName:$('#realName').val(),
                    userEmail:$('#userEmail').val(),
                    userPost:$('#userPost').val(),
                    passWord:$('#passWord').val(),
                }),
                success:function(result){
                    if(result.ifSuccess)
                    {
                        $('#modal-form').modal('hide'); // 显示模态框，并触发 show 事件，从而设置内容。
                        search();
                    }
                    else
                    {
                        swal({
                            title: "出错了",
                            text: result.msg
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if(xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                }
            });
        }
    </script>
</body>
</html>
