@model Common.NewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min.css?v=3.3.7" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="/css/plugins/wangeditor/style.css" rel="stylesheet" />
    <style>
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100;
            /* 按需定义 */
        }

        #toolbar-container {
            border-bottom: 1px solid #ccc;
        }

        #editor-container {
            height: 500px;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Model.Title<small>列表，查找</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="text-left">
                            <a data-toggle="modal" class="btn btn-primary" onclick="add()">新增</a>
                            <a data-toggle="modal" class="btn btn-success" onclick="edit()">编辑</a>
                            <a data-toggle="modal" class="btn btn-danger" onclick="del()">删除</a>
                            <a data-toggle="modal" class="btn btn-primary" onclick="online()">发布</a>
                            <a data-toggle="modal" class="btn btn-success" onclick="offline()">撤下</a>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 1000px;">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <h3 class="m-t-none m-b">@("新增" + Model.Title)
                        </h3>
                        <form role="form">
                            <input type="hidden" id="newId" name="newId" />
                            <div class="form-group">
                                <label>标题：</label>
                                <input type="text" required placeholder="请输入标题" id="newTitle" name="newTitle"
                                    class="form-control">
                            </div>
                            <div class="ibox-content no-padding" id="eg">
                                <div id="editor—wrapper">
                                    <div id="toolbar-container"><!-- 工具栏 --></div>
                                    <div id="editor-container"><!-- 编辑器 --></div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs"
                                    style="width: 94px; height: 42px; margin-top: 10px;" type="submit">
                                    <strong>保存</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.7"></script>
    <script src="/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/js/content.js?v=1.0.0"></script>
    <script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/js/plugins/wangeditor/index.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        const E = window.wangEditor

        const editorConfig = {
            MENU_CONF: {},
            placeholder: '输入内容...',
            onChange(editor) {
                const html = editor.getHtml()
                console.log('editor content', html)
                // 也可以同步到 <textarea>
            },
        }
        editorConfig.MENU_CONF['insertVideo'] = {
            onInsertedVideo(videoNode) {
                console.log('inserted video', videoNode)
            },
        }
        editorConfig.MENU_CONF['uploadVideo'] = {
            server: '/New/FileUpload',
            // server: '/api/upload-img-failed', // test failed
            // server: '/api/xxx', // test 404
            timeout: 120 * 1000, // 5s

            fieldName: 'custom-fileName',
            meta: { token: 'xxx', a: 100 },
            metaWithUrl: true, // join params to url
            headers: { Accept: 'text/x-json' },

            maxFileSize: 200 * 1024 * 1024, // 10M

            onBeforeUpload(file) {
                console.log('onBeforeUpload', file)

                return file // will upload this file
                // return false // prevent upload
            },
            onProgress(progress) {
                console.log('onProgress', progress)
            },
            onSuccess(file, res) {
                console.log('onSuccess', file, res)
            },
            onFailed(file, res) {
                alert(res.message)
                console.log('onFailed', file, res)
            },
            onError(file, err, res) {
                alert(err.message)
                console.error('onError', file, err, res)
            },

            customInsert(res, insertFn) {
                console.log('customInsert', res)
                const videoInfo = res.data || {}
                const { url, poster } = videoInfo
                if (!url) throw new Error(`Video url is empty`)

                console.log('Your video url ', url)
                insertFn(url, poster)
            },

            // customUpload(file, insertFn) {
            //   console.log('customUpload', file)

            //   return new Promise((resolve) => {
            //     // Simulate async insert video
            //     setTimeout(() => {
            //       const src = `https://www.w3school.com.cn/i/movie.ogg`
            //       const poster = 'https://www.baidu.com/img/flexible/logo/pc/result@2.png'
            //       insertFn(src, poster)
            //       resolve('ok')
            //     }, 500)
            //   })
            // },

            // customBrowseAndUpload(insertFn) {
            //   alert('Custom browse and upload')

            //   // Simulate async insert video
            //   setTimeout(() => {
            //     const src = '<iframe src="//player.bilibili.com/player.html?aid=250348909&bvid=BV1Pv411w7Xr&cid=401518678&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>'
            //     insertFn(src, '')
            //   }, 500)
            // },
        }

        editorConfig.MENU_CONF['uploadImage'] = {
            server: '/New/FileUpload',
            timeout: 5 * 1000, // 5s
            fieldName: 'custom-fileName',
            meta: { token: 'xxx', a: 100 },
            metaWithUrl: true, // join params to url
            headers: { Accept: 'text/x-json' },
            maxFileSize: 10 * 1024 * 1024, // 10M
            base64LimitSize: 5 * 1024, // insert base64 format, if file's size less than 5kb
            onBeforeUpload(file) {
                console.log('onBeforeUpload', file)
                return file // will upload this file
                // return false // prevent upload
            },
            onProgress(progress) {
                console.log('onProgress', progress)
            },
            onSuccess(file, res) {
                console.log('onSuccess', file, res)
            },
            onFailed(file, res) {
                alert(res.message)
                console.log('onFailed', file, res)
            },
            onError(file, err, res) {
                alert(err.message)
                console.error('onError', file, err, res)
            },

            customInsert(res, insertFn) {
                console.log('customInsert', res)
                const imgInfo = res.data[0] || res.data
                const { url, alt, href } = imgInfo
                if (!url) throw new Error(`Image url is empty`)

                console.log('Your image url ', url)
                insertFn(url, alt, href)
            },

            // customUpload(file, insertFn) {
            //   console.log('customUpload', file)

            //   return new Promise((resolve) => {
            //     // Simulate async insert image
            //     setTimeout(() => {
            //       const src = `https://www.baidu.com/img/flexible/logo/pc/result@2.png?r=${Math.random()}`
            //       insertFn(src, 'baidu logo', src)
            //       resolve('ok')
            //     }, 500)
            //   })
            // },

            // customBrowseAndUpload(insertFn) {
            //   alert('Custom browse and upload')

            //   // Simulate async insert image
            //   setTimeout(() => {
            //     const src = 'https://www.baidu.com/img/flexible/logo/pc/result@2.png'
            //     insertFn(src, 'baidu logo', src) // insert a image
            //   }, 500)
            // },
        }

        window.editor = E.createEditor({
            selector: '#editor-container',
            html: '<p><br></p>',
            config: editorConfig,
            mode: 'default', // or 'simple'
        })

        const toolbarConfig = {}

        window.toolbar = E.createToolbar({
            editor,
            selector: '#toolbar-container',
            config: toolbarConfig,
            mode: 'default', // or 'simple'
        })

        var datatable = null;
        $(document).ready(function () {
            datatable = $('.dataTables-example').DataTable({
                processing: true, // 开启处理状态提示（例如加载中）
                serverSide: true, // 启用服务器端处理
                ajax: {
                    url: "/New/GetNewsByPage", // 你的服务器端接口地址
                    contentType: "application/json",
                    type: "POST", // 请求类型，通常是 GET 或 POST
                    data: function (d) {
                        // 构建请求对象，包含DataTables参数和自定义参数
                        if (d.order && d.order.length > 0) {
                            d.order.forEach(function (orderItem) {
                                const columnIndex = orderItem.column;  // 原始列索引
                                const columnName = d.columns[columnIndex].name; // 通过索引获取列名
                                orderItem.columnName = columnName;  // 添加列名参数
                            });
                        }
                        var request = {
                            draw: d.draw,
                            start: d.start,
                            length: d.length,
                            search: d.search,
                            order: d.order,
                            Query: {
                                newTypeId:@Model.NewTypeId
                            }
                        };
                        return JSON.stringify(request);  // 手动转换为JSON字符串
                    },
                    dataFilter: function (response) {
                        var json = JSON.parse(response);
                        if (json.ifSuccess !== 1) {
                            console.log(json.msg);
                            return JSON.stringify({ draw: 0, recordsTotal: 0, recordsFiltered: 0, data: [] });
                        }
                        // 转换为DataTables标准格式
                        return JSON.stringify({
                            draw: json.data.draw,
                            recordsTotal: json.data.recordsTotal,
                            recordsFiltered: json.data.recordsFiltered,
                            data: json.data.data
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        console.log('Status:', status);
                        console.log('Details:', xhr.responseText);
                        if (xhr.status == 401) {
                            window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                        else if (xhr.status == 403) {
                            swal({
                                title: "出错了",
                                text: "您没有权限操作，请联系管理员"
                            });
                        }
                    }
                },
                columns: [{
                    sClass: "text-center",
                    data: "id",
                    render: function (data, type, full, meta) {//这里就是要显示的checkbox多选框了
                        return '<input type="checkbox" class="checkchild" value="' + data + '" />';
                    },
                    bSortable: false
                },
                { data: "id", title: "ID", name: "Id", bSortable: false },
                { data: "newTitle", title: "标题", name: "NewTitle", bSortable: false },
                {
                    data: "isPublic",
                    title: "是否发布",
                    name: "IsPublic",
                    bSortable: false,
                    render: function (data) {
                        return data ? "已发布" : "未发布";
                    }
                },
                {
                    data: "publicTime",
                    title: "发布时间",
                    name: "PublicTime",
                    bSortable: false,
                    render: function (data) {
                        return data ? new Date(data).toLocaleString() : "--";
                    }
                },
                {
                    data: "createTime",
                    title: "创建时间",
                    name: "CreateTime",
                    bSortable: false,
                    render: function (data) {
                        return new Date(data).toLocaleString();
                    }
                }]
            });
            // 添加行双击事件
            $('.dataTables-example').on('dblclick', 'tbody tr', function () {
                var rowData = datatable.row(this).data();
                getDetail(rowData.id);
            });

            $('#modal-form').on('submit', function (event) {
                save();
            });
        });

        function sendFile(file, editor, welEditable) {
            var formData = new FormData();
            formData.append('file', file); // 将文件添加到表单数据中
            $.ajax({
                data: formData,
                type: "POST",
                url: '/New/FileUpload', // 后端处理上传的 URL
                contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                processData: false, // 告诉jQuery不要去处理发送的数据
                success: function (data) {
                    if (data.success) {
                        //$('#newContent').summernote('insertImage', data.url); // url是返回的图片地址
                    }
                    else {
                        swal({
                            title: "出错了",
                            text: data.message
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if (xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                    else if (xhr.status == 403) {
                        swal({
                            title: "出错了",
                            text: "您没有权限操作，请联系管理员"
                        });
                    }
                }
            });
        }

        function search() {
            datatable.ajax.reload(); // 保持当前分页和排序状态
        }
        function add() {
            $('#newTitle').val('');
            $("#newId").val('');
            editor.select([]);
            editor.deleteFragment();
            E.SlateTransforms.setNodes(editor, { type: 'paragraph' }, { mode: 'highest' });
            editor.dangerouslyInsertHtml('');
            $('#modal-form').modal('show'); // 显示模态框，并触发 show 事件，从而设置内容。
        }
        function edit() {
            var selectedIds = getSelectedIds();
            if (selectedIds.length != 1) {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行编辑"
                });
            }
            else {
                getDetail(selectedIds[0]);
            }
        }
        function getDetail(roleId) {
            $.ajax({
                url: "/New/GetNewById",
                contentType: "application/json",
                type: "POST", // 请求类型，通常是 GET 或 POST
                data: JSON.stringify({
                    id: roleId
                }),
                success: function (result) {
                    if (result.ifSuccess) {
                        $("#newTitle").val(result.data.newTitle);
                        $("#newId").val(result.data.id);

                        editor.select([]);
                        editor.deleteFragment();
                        E.SlateTransforms.setNodes(editor, { type: 'paragraph' }, { mode: 'highest' });
                        editor.dangerouslyInsertHtml(result.data.newContent);
                        $('#modal-form').modal('show'); // 显示模态框，并触发 show 事件，从而设置内容。
                    }
                    else {
                        swal({
                            title: "出错了",
                            text: result.msg
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if (xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                    else if (xhr.status == 403) {
                        swal({
                            title: "出错了",
                            text: "您没有权限操作，请联系管理员"
                        });
                    }
                }
            });
        }
        function getSelectedIds() {
            var selectedIds = [];
            $('.checkchild:checked').each(function () {
                selectedIds.push($(this).val()); // 获取 data-id 属性值并添加到数组中
            });
            return selectedIds;
        }
        function save() {
            event.stopPropagation(); // 阻止事件冒泡
            event.preventDefault();
            $.ajax({
                url: "/New/SaveNew",
                contentType: "application/json",
                type: "POST", // 请求类型，通常是 GET 或 POST
                data: JSON.stringify({
                    id: $("#newId").val() ? $("#newId").val() : null,
                    newTitle: $("#newTitle").val(),
                    newContent: editor.getHtml(),
                    newTypeId:@Model.NewTypeId
                }),
                success: function (result) {
                    if (result.ifSuccess) {
                        $('#modal-form').modal('hide'); // 显示模态框，并触发 show 事件，从而设置内容。
                        search();
                    }
                    else {
                        swal({
                            title: "出错了",
                            text: result.msg
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    console.log('Status:', status);
                    console.log('Details:', xhr.responseText);
                    if (xhr.status == 401) {
                        window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                    }
                    else if (xhr.status == 403) {
                        swal({
                            title: "出错了",
                            text: "您没有权限操作，请联系管理员"
                        });
                    }
                }
            });
        }
        function del() {
            var selectedIds = getSelectedIds();
            if (!selectedIds.length) {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行删除"
                });
            }
            else {
                var delIds = selectedIds;
                swal({
                    title: "您确定要删除这" + delIds.length + "条记录吗",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    event.stopPropagation(); // 阻止事件冒泡
                    event.preventDefault();
                    $.ajax({
                        url: "/New/DelNew",
                        contentType: "application/json",
                        type: "POST", // 请求类型，通常是 GET 或 POST
                        data: JSON.stringify({
                            ids: selectedIds,
                            newTypeId:@Model.NewTypeId
                        }),
                        success: function (result) {
                            if (result.ifSuccess) {
                                search();
                                swal("删除成功！", "您已经永久删除了这条信息。", "success");
                            }
                            else {
                                swal({
                                    title: "出错了",
                                    text: result.msg
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                            console.log('Status:', status);
                            console.log('Details:', xhr.responseText);
                            if (xhr.status == 401) {
                                window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                            }
                            else if (xhr.status == 403) {
                                swal({
                                    title: "出错了",
                                    text: "您没有权限操作，请联系管理员"
                                });
                            }
                        }
                    });
                });
            }
        }
        function online() {
            var selectedIds = getSelectedIds();
            if (!selectedIds.length) {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行发布"
                });
            }
            else {
                $.ajax({
                    url: "/New/SetNewPublic",
                    contentType: "application/json",
                    type: "POST", // 请求类型，通常是 GET 或 POST
                    data: JSON.stringify({
                        ids: selectedIds,
                        isPublic: 1,
                        newTypeId:@Model.NewTypeId
                    }),
                    success: function (result) {
                        if (result.ifSuccess) {
                            search();
                            swal("发布成功！", "您已经发布了这条信息。", "success");
                        }
                        else {
                            swal({
                                title: "出错了",
                                text: result.msg
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        console.log('Status:', status);
                        console.log('Details:', xhr.responseText);
                        if (xhr.status == 401) {
                            window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                        else if (xhr.status == 403) {
                            swal({
                                title: "出错了",
                                text: "您没有权限操作，请联系管理员"
                            });
                        }
                    }
                });
            }
        }
        function offline() {
            var selectedIds = getSelectedIds();
            if (!selectedIds.length) {
                swal({
                    title: "提示",
                    text: "请勾选1条记录进行撤下"
                });
            }
            else {
                $.ajax({
                    url: "/New/SetNewPublic",
                    contentType: "application/json",
                    type: "POST", // 请求类型，通常是 GET 或 POST
                    data: JSON.stringify({
                        ids: selectedIds,
                        isPublic: 0,
                        newTypeId:@Model.NewTypeId
                    }),
                    success: function (result) {
                        if (result.ifSuccess) {
                            search();
                            swal("撤下成功！", "您已经撤下了这条信息。", "success");
                        }
                        else {
                            swal({
                                title: "出错了",
                                text: result.msg
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        console.log('Status:', status);
                        console.log('Details:', xhr.responseText);
                        if (xhr.status == 401) {
                            window.top.location.href = '/Home/login?returnUrl=' + encodeURIComponent(window.location.pathname);
                        }
                        else if (xhr.status == 403) {
                            swal({
                                title: "出错了",
                                text: "您没有权限操作，请联系管理员"
                            });
                        }
                    }
                });
            }
        }
    </script>
</body>

</html>