@{
    ViewData["Title"] = "New List Page";
}
<h2>党建之窗</h2>
<div class="news-item">
    <a href="#">怀安县委书记刘源开展工作调研</a>
    <span class="news-date">2025-02-23</span>
</div>
<div class="news-item">
    <a href="#">怀安县委书记刘源赴怀安城镇就农村综合性改革试点试验项目开展调研</a>
    <span class="news-date">2025-02-20</span>
</div>
<div class="news-item">
    <a href="#">怀安县召开优化营商环境暨招商引资大会</a>
    <span class="news-date">2025-02-18</span>
</div>
<div class="news-item">
    <a href="#">怀安县委刘源书记开展工作调研</a>
    <span class="news-date">2025-02-16</span>
</div>
<div class="news-item">
    <a href="#">怀安县召开党政联席会议</a>
    <span class="news-date">2025-02-14</span>
</div>
<div class="news-item">
    <a href="#">怀安：社火展演"闹"元宵 传统佳节氛围浓</a>
    <span class="news-date">2025-02-12</span>
</div>
<div class="news-item">
    <a href="#">怀安县委书记刘源调研消防安全工作</a>
    <span class="news-date">2025-02-12</span>
</div>
<div class="news-item">
    <a href="#">怀安县召开党政联席会议</a>
    <span class="news-date">2025-02-05</span>
</div>
<div class="news-item">
    <a href="#">怀安县委书记刘源、县长孙少凯春节期间开展工作调研</a>
    <span class="news-date">2025-01-28</span>
</div>
<div class="news-item">
    <a href="#">怀安县纪委十四届五次全会召开</a>
    <span class="news-date">2025-01-27</span>
</div>

<div class="pagination">
    <a href="#">首页</a>
    <a href="#">上一页</a>
    <span>1/163</span>
    <a href="#">下一页</a>
    <a href="#">尾页</a>
</div>