@page
@model AdminModel
@{
    ViewData["Title"] = "首页";
    Layout=null;
}

<div class="text-center">
    <h1 class="display-4">首页管理</h1>
    <p>此为首页管理 <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
