@charset "utf-8";
.index{min-width:1200px;}
.easybtn .easybtn_main{top:475px;}

.head{background:none; position:absolute; top:0; left:0; width:100%; z-index:100;}
.header{width:100% !important; max-width:100%;  background:url(/global/index_topbg.png) no-repeat center top #2b69b4; z-index:1; height:415px; max-width:1920px; margin:auto;}

.header .logo{width:360px; margin:auto; text-align:center; height:365px; position:static !important; background:url(/global/logo_i.png) left 80px no-repeat;}
.header .logo img{display:none;}

.mainnav{right:0; left:0; top:0; position:relative; width:1200px; margin:auto; }
.mainnav li{width:17%; text-align:center; margin:0; line-height:46px;}
.mainnav li.nav0{width:15%;}
.mainnav li a, .mainnav li a:hover, .mainnav li.on a{color:#FFF; position:relative;}
.mainnav li:hover, .mainnav li.on{color: #FFF; *border-bottom:0; background:#0050b3;}
.mainnav li a:after {display: block; position:absolute; right:0; top:12px; content: ""; height: 22px; width:1px; background-color:#62a3e4;}
.mainnav li a:hover:after, .mainnav li.on a:after {width:1px;}
.mainnav li:last-child a:after{width:0 !important;}
.mainnav.isStuck{ background:#2b69b4; z-index:100;}

.header_ss_open, .header_ss, .sjb_ss{display: none;}

.homegg{margin-bottom:15px; border: #ebebeb 1px solid; height: 73px; position: relative; padding-top:10px; padding-right:44px;}
.homegg li{width:277px; float:left; margin-right:10px;}
.homegg li img{display: block; width:277px; height: 62px; margin:0 auto}

.home_banner{ position:absolute; clear: both; height:100px; top:180px; z-index:99; width:100%;}

.home_search{margin: 0 auto; width: 608px; position:relative;}
.home_search .ss{ position: relative; height: 42px; background: #fff; border-radius:21px; border:1px solid #dbdbdb;}
.home_search .ss .inss{position: absolute;left: 1px; right: 1px; top: 1px; bottom: 1px;}

.home_search .ss .ss_btn{position: absolute; right: 0; top: 0; width: 82px; height: 40px; background: #619ae0; color: #fff; border-radius: 20px; cursor: pointer; border:0; -webkit-appearance:none;}
.home_search .ss .ss_txt{padding: 10px 0; line-height: 20px; border:0; color: #666; background:url(/global/home_ss_icon.png) no-repeat 17px center #fff;  border:0; border-radius: 20px; padding:10px 92px 10px 46px; width: 425px;}
.home_search .ss i{position: absolute; right:96px; top:5px; width: 28px; height: 29px; background:url(/global/home_ss_jqr.png) no-repeat;}
.home_search .ss i a{display:block; height:29px;}
.home_search .ss .ss_btn2{position: absolute; right: 0; top: 0; width: 28px; height: 29px; background:url(/global/home_ss_jqr.png) no-repeat; color: #fff; border-radius: 20px; cursor: pointer; border:0; -webkit-appearance:none;}
.home_search p{clear: both; padding: 12px 0 0 20px; font-size: 15px;}
.home_search p span{color: #ff0000;}
.home_search p a{margin-right: 15px;}

.index_tt{text-align:center; padding:15px 0 30px;}
.index_tt h1{margin-bottom: 5px;}
.index_tt h1 a{font-size:28px; color:#105ca8; line-height:1; *line-height:1.5; font-weight:500;}
.index_tt h2{text-align:center;}
.index_tt h2 a{font-size:18px; color:#105ca8; line-height:1; *line-height:1.5; font-weight:normal;}
.home_ztbanner{margin:0px auto 15px;}
.home_ztbanner a{display: block;}
.home_ztbanner img{width:100%;}

.home_tpxw{float:left; width:566px; height:306px; position:relative; overflow:hidden;}
.home_tpxw img{ width:100%; height:306px; display:block;}
.home_tpxw .bd li{ position:relative; overflow:hidden; zoom:1;}
.home_tpxw .hd{ position:absolute; bottom:14px; left: 0; right:0; text-align: center;}
.home_tpxw .hd li{display: inline-block; *display: inline; *zoom:1; width:8px; height:8px; margin:2px 5px; line-height:0; overflow:hidden; font-size:0; background:#fff; border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%; cursor:pointer; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms;}
.home_tpxw .hd li.on{background:#ff0000; width: 12px; height: 12px; margin: 0 2px;}
.home_tpxw .bd ul, .home_tpxw .bd li{width:100% !important;}
.home_tpxw .bd li a{display: block;}
.home_tpxw .bd li a b{position:absolute; left:0px; bottom:-80px; width:100%; height:80px; line-height:60px; text-align:center; 
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.8)));
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    color:#ffffff; font-size:18px; transition:0.4s; *background:none; padding: 0 10px; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.home_tpxw .bd li a:hover b{ display:block; bottom:0; -webkit-transition:0.4s;  -moz-transition:0.4s; transition:0.4s;}

.home_jrgz{float: right; width: 614px;}
.home_jrgz .hd{background:#efefef; padding-top: 5px; padding-left:5px;}
.home_jrgz .bd li{height:32px !important; line-height:32px !important; }
.home_jrgz_list li{position:relative; padding:0 100px  0 0; height:32px; line-height:32px; overflow:hidden; vertical-align:top; font-size: 16px; font-weight: normal;}
.home_jrgz_list li .time{ position:absolute; right:0; top:0; color:#999999; font-size: 16px; font-weight: normal;}
.home_jrgz_list li .lj{float:left; max-width:100%; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; font-size: 16px; font-weight: normal;}
.home_jrgz_list li i{display:inline-block; width:22px; height:20px; vertical-align: middle; background:url(/global/home_jrgz_icon1.png) center center no-repeat;}
.home_jrgz_list li i.jrgz_icon1{background:url(/global/home_jrgz_icon1.png) center center no-repeat;}
.home_jrgz_list li i.jrgz_icon2{background:url(/global/home_jrgz_icon2.png) center center no-repeat;}
.home_jrgz_list li i.jrgz_icon3{background:url(/global/home_jrgz_icon3.png) center center no-repeat;}
.home_jrgz_list li i.jrgz_icon4{background:url(/global/home_jrgz_icon4.png) center center no-repeat;}
.home_jrgz_list li em{display:inline-block; font-style: normal; color: #e24646;}
.home_jrgz_list li em a{color:#e24646; font-size: 16px; font-weight: normal;}

.home_scroll_iconlink{background: #f7f7f7; border: #ebebeb 1px solid; position: relative; overflow: hidden;}
.home_scroll_iconlink .bd li{float: left; width: 14.28%; margin-top: 10px;}
.home_scroll_iconlink .bd li a{display: block; border-right: #eaeaea 1px solid; height: 94px; text-align: center; font-size: 16px; font-weight: normal;}
.home_scroll_iconlink .bd li i{display: block; width: 60px; height: 60px; background:url(/global/home_scroll_icon.png) no-repeat; margin: 0 auto 5px; transition: all 0.43s ease 0s;}
.home_scroll_iconlink .bd li.li1 i{background-position: 0 -60px;}
.home_scroll_iconlink .bd li.li2 i{background-position: 0 -118px;}
.home_scroll_iconlink .bd li.li3 i{background-position: 0 -180px;}
.home_scroll_iconlink .bd li.li4 i{background-position: 0 -240px;}
.home_scroll_iconlink .bd li.li5 i{background-position: 0 -300px;}
.home_scroll_iconlink .bd li.li6 i{background-position: 0 -362px;}
.home_scroll_iconlink .bd li.li7 i{background-position: 0 -422px;}
.home_scroll_iconlink .bd li.li12 i{background:url(index_zcwjk_icon.png) top center no-repeat;}
.home_scroll_iconlink .bd li:last-child a{border-right:none;}
.home_scroll_iconlink .bd li.liEnd a{border-right: none;}
.home_scroll_iconlink .btn{font-family:"宋体"; font-size:36px; font-weight:bold;}
.home_scroll_iconlink .btn a{position:absolute; top:43px; cursor:pointer; color:#a8a4a4; width: 13px; height: 25px; background:url(/global/home_scroll_arrow.png) no-repeat;}
.home_scroll_iconlink .btn a:hover{color:#666;}
.home_scroll_iconlink .bd li:hover i{transform: rotateY(180deg);}
.home_scroll_iconlink .btn a.prev{ left:8px;}
.home_scroll_iconlink .btn a.next{ right:8px; background-position:-13px 0;}

.home_zcjd, .home_myzj{width: 584px;}

.zxftbox .pic{float:left; width:30%;}
.zxftbox .pic img{display:block; width:100%;}
.zxftbox .zxftcon{float:right; width:67%; line-height:28px; overflow:hidden}

.hdjl_table1{line-height:33px; padding:3px 0 0; width:100%; overflow:hidden;    height: 130px;}
.hdjl_table1 th{height:30px; line-height:30px; color:#333; white-space:nowrap; font-size:16px; font-weight:bold;}
.hdjl_table1 th:nth-child(1){text-align:left;}
.hdjl_table1 td{width:auto; height:33px; line-height:30px; padding:0 5px; white-space:nowrap; max-width:200px; width:200px\9; overflow:hidden; text-overflow:ellipsis; color:#666; font-size:16px;}
.hdjl_table1 td.xh{ background:url(/global/2016_arrow1.gif) no-repeat 1px center; padding-left:15px;}
.hdjl_table1 td a{color:#666; display:block\9; width:380px\9; *width:380px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.hdjl_table1 td a:hover{color:#000;}
.temp{width:1200px;}
.home_ztzl{border: #ebebeb 1px solid; height: 83px; position: relative; padding-right: 59px; *overflow: hidden;}
.gbddc{width:277px; float:left; margin-right:15px; margin-top:10px;}
.home_ztzl .more{position: absolute; right: 0; top: 0; bottom: 0; background: #f1f1f1; width: 46px;}
.home_ztzl .more span{display: block; padding:12px 15px 0; font-size: 16px; font-weight: normal}
.home_ztzl .more i{display: block; width: 20px; height: 1px; background: #d4d4d4; margin: 13px auto 0;}
.home_ztzl .bd{ margin-top: 9px; overflow: hidden;}
.home_ztzl .bd li{float: left; margin-right: 10px;}
.home_ztzl .bd li img{display: block; width: 277px; height:62px;}

.home_ztzl .btn{display: none;}
.home_ztzl .btn a{ position:absolute; top:14px; width:24px; height:52px; background:url(/global/home_ztzl_arrow.png) no-repeat; cursor:pointer;}
.home_ztzl .btn .prev{background-position:-24px 0; left:0;}
.home_ztzl .btn .next{right:59px;}
.home_ztzl:hover .btn{display: block;}

.home_links{background: #f3f3f3; padding: 18px 0;}
.home_links .container{position: relative;}
.home_links h4{position: absolute; left: 0; width:104px; margin-top: 30px; font-weight: normal; font-size: 16px;}
.home_links .link{border-left: #c4c4c4 1px solid; margin-left: 81px; padding-left: 20px; font-size: 14px;}
.dhlj{line-height:28px;}
.dhlj li{float:left; padding:0 25px 0 10px; margin-right:15px; background:url(/global/link_icon.png) right 13px no-repeat; cursor:pointer; font-weight: normal;}
.dhlj li.on{background:url(/global/link_icon.png) right -28px no-repeat #CCC;}
.yqlj{padding:5px 0 5px 10px; line-height: 26px;}
.yqlj i{font-style: normal; margin: 0 20px; color: #ccc;}

.home_links_drop ul{display: none; font-size: 14px; padding: 20px 0; overflow: hidden;}
.home_links_drop ul li{float: left; width: 25%; line-height:2.2; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.home_links_drop ul.city li{width:14.28%; text-align: center;}
/* .home_links_drop .container p{height: 0;} */

/*弹框--最新热点*/
.home_newhot {background:#fff; border-radius:3px 3px 0 0; box-shadow:0 0 6px rgba(0,0,0,0.6); right: 80px; bottom: -230px; position: fixed; z-index: 10001;}
.home_newhot h2 { height:40px; line-height:40px; font-size: 18px; color:#2c7bd7; position: relative; width:244px; background:#A0C7EB; text-indent:4em;}
.home_newhot h2 span{position: absolute; top: 2px; right:10px;}
.home_newhot h2 span i{display:inline-block; width:17px; height:17px; border-radius:50%; line-height:17px; text-align: center; color:#fff; font-weight:normal; background:url(/global/float_icon.png) no-repeat #d0cece; margin-left:7px;}
.home_newhot i.min{background-position:0 -17px; cursor:pointer;}
.home_newhot i.max {background-position:0 0; cursor:pointer;}
.home_newhot i.close { background-position:0 -34px; cursor:pointer;}
.home_newhot .cont{ width:214px; overflow:hidden; font-size: 16px; line-height:25px; color: #666; margin:0 10px; padding:15px 5px; line-height:25px;}

.znwd_qa{ background:url(/global/znwdqabg.png) no-repeat center top; width:252px; height:141px; position:absolute; right:-58px; top:32px;}
.znwd_qa b{display:block; float:right; width:20px; height:15px; cursor:pointer; color:#666; margin-right:30px; text-align:center;}
.znwd_qa p{text-align:center; padding:24px 10px 0 15px;}

.index_banner{padding-bottom: 10px;}
.index_banner img{display: block; width: 100%; height: auto;}

@media (max-width: 1024px) {
	.homegg li{width:31.5%;}
	.homegg li img{width:100%;}
}